In [4]:
import pandas as pd

In [8]:
a= pd.read_csv('data/departments.csv') #unique
b= pd.read_csv('data/dept_emp.csv')
c=pd.read_csv('data/dept_manager.csv')
d=pd.read_csv('data/employees.csv')
e=pd.read_csv('data/salaries.csv')
f=pd.read_csv('data/titles.csv')

300024

300024

  title_id               title
0    s0001               Staff
1    s0002        Senior Staff
2    e0001  Assistant Engineer
3    e0002            Engineer
4    e0003     Senior Engineer
5    e0004    Technique Leader
6    m0001             Manager